// @import url('https://fonts.googleapis.com/css?family=Montserat:300,400,500,bold&display=swap');

@import './color';
@import './fonts';

body {
    margin: 0;
    padding: 0;
    background-color: $body_bg;
    color: $anchor_color;
    font-family: MyMontserratRegular;
}

body > header, main {
    max-width: 90%;
    min-width: 90%;
    margin: auto;
}

hr {
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-top: 2rem;
}
footer {
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .5;

}