
@import './color';

body {
    margin: 0;
    padding: 0;
    background-color: $body_bg;
    color: $anchor_color;
}

body > header, main {
    max-width: 90%;
    min-width: 90%;
    margin: auto;
}
