@import url("https://fonts.googleapis.com/css?family=Montserat:300,400,500,bold&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pro:200,300,400,500,bold&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,bold&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:300,normal,500,bold&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #181719;
  color: #FFFFFF;
  font-family: Montserrat; }

body > header, main {
  max-width: 90%;
  min-width: 90%;
  margin: auto; }

hr {
  max-width: 90%;
  min-width: 90%;
  margin: auto;
  margin-top: 2rem; }

footer {
  max-width: 90%;
  min-width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: .5; }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  color: #FFFFFF; }

body > header > h1 {
  font-family: 'Crimson' Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 8px; }

.navigation > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  position: relative;
  top: 8rem; }

.navigation > ul a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; }

.navigation > ul > li:last-child a {
  padding-inline-end: 0; }

.navigation .interor {
  padding: 1.25rem;
  background-image: none;
  line-height: 1.25rem;
  background-position: 1rem 50%;
  text-decoration: none;
  display: block; }

.navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: -7px;
  right: 0;
  bottom: 0;
  width: 375px;
  height: auto;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background: #181719;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateY(0%); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0); }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

body > [type="checkbox"] {
  display: none; }

.navigation > label, body > header > label {
  width: 28px;
  height: 28px;
  background-size: 28px;
  background-repeat: no-repeat;
  position: relative; }

body > header > label {
  background-image: url(../images/menu.svg); }

.navigation > label {
  background-image: url(../images/cross.svg);
  margin-left: auto; }

@media (min-width: 977px) {
  body > header label {
    display: none; }
  .navigation {
    padding: 0;
    background-color: transparent;
    top: 16px;
    left: 0;
    right: 0;
    bottom: auto;
    max-width: 90%;
    min-width: 90%;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: auto; }
  .navigation label {
    display: none; }
  .navigation > ul {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    max-width: unset;
    min-width: unset;
    margin: unset;
    position: unset;
    top: unset; } }

main > header {
  margin-bottom: 41px; }

@media (min-width: 977px) {
  main {
    display: grid;
    grid-template-columns: .6fr 1fr;
    gap: 4rem;
    top: 121px;
    position: relative; } }

main h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  margin-top: 0; }

main p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px; }

main span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px; }

main span svg {
  position: relative;
  top: 6px; }

main img {
  max-width: 100%;
  min-width: 100%; }

.post {
  max-width: 75%;
  min-width: 75%;
  padding: 14px;
  position: relative;
  bottom: 5rem;
  margin: auto;
  margin-left: auto;
  margin-right: 16px;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.profile--link {
  display: flex;
  margin-left: 1rem; }

.post__profile > div {
  margin-left: 1rem;
  position: relative;
  top: 25px;
  height: max-content; }

.post__profile > h3 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px; }

.post__profile span {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282; }

.post h4 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px; }

.profile__photo {
  max-width: 40px;
  min-width: 40px;
  height: auto;
  border-radius: 50%; }

@media (min-width: 977px) {
  .post {
    max-width: 75%;
    min-width: 75%;
    grid-column: 2/3;
    bottom: 10rem;
    margin-left: auto;
    margin-right: 32px;
    box-shadow: unset; } }
